body, h1, h2, h3, h4, h5, p, a, form, textarea {font-family: Poppins; font-weight: 300}

body {
    background-color: #b3bbae;
}

html {
  -webkit-text-size-adjust: 100%; 
}

.wrapper {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    position: absolute;
    z-index: 200;
}

h1 {
    font-size: 3em;
    padding-left: 1em;
    padding-top: 0.5em;
}

.icons {
    letter-spacing: 0.2em;
    color: #fff;
}

.links:hover {
    color: #1e3525;
    transition: 200ms all;
}

.cafe {
    background: url("assets/blender-cafe.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.overlay-cafe-dark {
    background: url("assets/blender-cafe-dark.svg");
    position: fixed;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
}

.lofi-embed {
    position: fixed;
    z-index: -10;
    border-radius: 20px;
    top: 100px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    opacity: 0;
}

.lofi-embed.-open {
    opacity: 1;
    transition: 50ms all;
    z-index: 10;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    border: 1px solid red;
}