body, h1, h2, h3, h4, h5, p, a, form, textarea {font-family: Poppins; font-weight: 300}

div.auto{-webkit-hyphens: manual;-ms-hyphens: manual;hyphens: manual;}

html {
  -webkit-text-size-adjust: 100%; 
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img.emoji {
    width: 1.1em;
	height: 1.1em;
	margin: 0.05em 0.1em;
	vertical-align: -0.1em;
    pointer-events: none; 
}

h1, h2, h3, h4, h5, h6, p {
    position: absolute;
    left: 25px;
    z-index: 200;
}

h1 {
    font-size: 3em;
    padding-left: 1em;
    padding-top: 0.5em;
}

.icons {
    letter-spacing: 0.2em;
    color: #fff;
}

.links {
    color: inherit;
    text-decoration: none;
}

.links:hover {
    color: #1e3525;
    transition: 200ms all;
}

.overlay-div {
    background-color: #b3bbae;
    height: auto;
    width: auto;
}

.cafe {
    height: auto;
    width: auto;
}

